*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}
body{
    font-family: sans-serif;
}
.container{
    margin-bottom: 50px;
}

.header{
    width: 100%;
    height: 600px;
    background: #7b4397, url(01.jpg);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397), url(01.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430aa, #7b4397aa), url(01.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
}

.title-container{
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    
}

.title-container h2{
    font-weight: 100;
    
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nav{
    text-align: right;
    padding: 10px 18px;
}

.nav-element{
    color: #fff;
    margin-right: 6px;
    text-decoration: none;
}

.container-title{
    text-align: center;
    color: #a3f;
    margin: 15px 0;
    font-weight: 1000;
    font-size: 35px;
} 

.acerca-de{
    margin-top: 80px;
}

.acerca-de-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 96%;
    height: 450px;
}
.acerca-de-element{
    width: 50%;
}
.acerca-de-element img{
    margin-left: 10px;
}

.acerca-de-text{
    padding: 25px 0;
    font-size: 18px;
    margin-left: -10px;
}
.acerca-de-text h3{
    font-size: 25px;
    padding: 5px 0;
}

.acerca-de-text h3 span{
    display: inline-block;
    background-color: #a3f;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    box-shadow: 0 0 4px 2px #304;
}

.portafolio{
    background-color: #fbfbfb;
    margin: 100px;
    height: 650px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 40px 40px 0 0;
}

.gallery-element{
    width: 20%;
    height: 200px;
    margin: 4px;
    position: relative;
    cursor: pointer;
}
.gallery-element img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-element-hover{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    transform: scale(0);
    transition: transform .5s, background-color .5s;
    align-items: center;
    justify-content: center;
}

.gallery-element-hover img{
    transform: scale(.6);
    margin-bottom: -50px;
}

.gallery-element-hover b{
    margin-bottom: 50px;
}

.gallery-element:hover .gallery-element-hover{
    transform: scale(1);
    background-color: #41a9;
}

.services-opinion{
    background-color: #efefef;
}

.cards-container{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 40%;
    height: 300px;
    background-color: #c5f;
    margin: 20px 30px;
    display: flex;
    align-items: center;
    
}
.card-img{
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 0 30px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;    
}

.card-text{
    width: 45%;
    justify-content: right;
}